body {
    font-family: initial;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0px auto;
}
h1{
    color: red;
    text-align: center;
    font-size: 30px;
}
.container {
    background-color: white;
    padding: 20px;
    border-radius: 22px;
}
td{
    text-align: center;
}


